/* Eliminar cualquier margen en el contenedor */

/* .container-fluid{
  margin-right:15px ;
} */

/* Sidebar */
.sidebar {
  background-color: #f8f9fa; /* Color de fondo */
  padding: 1rem; /* Ajuste de padding */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky; /* Hace que el sidebar se quede fijo al hacer scroll */
  top: 0; /* Ajusta la posición cuando se hace scroll */
}

/* Contenedor de las Cards */
.cards-container {
  margin-top: 0; /* Elimina el margen negativo */
  padding: 1rem;
  border-radius: 8px;
}


/* Estilo para el contenedor de la sección */
/* .section-portfolio {
  padding: 20px;
} */

/* Estilo para la columna que contiene las tarjetas */
.section-card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido horizontalmente */
  justify-content: flex-start; /* Alinea hacia el inicio si es necesario */
  text-align: center; /* Asegura que el texto dentro esté centrado */
  margin-top: 20px; /* Ajuste de espaciado superior */
}

/* Estilo para el contenedor del botón */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Ajusta el espacio superior según lo necesites */
}

/* Estilo para el botón */
.ver-mas-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 20px;
}

.ver-mas-btn:hover {
  background-color: #0056b3;
}
