.team-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  justify-items: center;
  margin: 20px 0;
}

.team-title{
  text-align: center;
  margin: 15px;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.team-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  border: 3px solid #007bff;
}

.team-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-top: 5px;
}

.team-name:hover {
  color: #007bff;
}

.team-links {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.team-instagram, .team-linkedin {
  font-size: 24px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.team-instagram {
  color: #e1306c;
}

.team-instagram:hover {
  color: #c13584;
  transform: scale(1.2);
}

.team-linkedin {
  color: #0077b5;
}

.team-linkedin:hover {
  color: #005582;
  transform: scale(1.2);
}

